__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
htmlcov/
*.db
*.sqlite3
.git
.gitignore
.env
Dockerfile
docker-compose.yml
.github
k8s
